@model List<Review>
@{
    ViewData["Title"] = "Reviews Page";
}

<div class="text-center">
    <h1 class="display-4">Reviews on this Site</h1>
</div>
Filter the list of reviews:
<form method="post" action="/Reviews/Filter">
    <label name="reviewer">Reviewer</label><br />
    <input name="reviewer"/><br />
    <label name="date">Date</label><br />
    <input name="date" /><br />
    <button type="submit">Submit</button>
</form>

<h2>The List of Reviews</h2>
@if (Model.Count != 0)
{
    foreach (Review review in Model)
    {
        <p>
            Title: @review.ReviewedBook.Title<br />
            Author: @review.ReviewedBook.Author<br />
            Reviewer: @review.Reviewer.Name<br />
            Review Date: @review.ReviewDate<br />
            Review: @review.ReviewText
        </p>
    }
}
else
{
    <p>There are no reviews.</p>
}
<a href="/Reviews/Review">Write a Review</a>